body {
    font-family: 'Futura', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

.header h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 50px;
}

.navigation {
    min-width: 200px;
    text-align: left;
    position: absolute;
    float: left;
    width: 10%;
    color: black;
    background-color: #f1f1f1;
}

/* Стили для выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 0;
    flex: 1;
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    display: block;
}

.menu-item.active {
    color: red;
}

/* Стили для выделения пункта меню при наведении */
.menu-item:hover {
    background-color: #ddd; /* Цвет фона для пункта при наведении */
}


main {
    align-items: center;
    float: left;
    width: 90%;
    padding: 70px;
}

.group {
    column-count: 2;
    margin-bottom: 100px;
}


main img {
    transition:transform 0.25s ease;
    cursor: zoom-in;
    width: 80%;
    margin: 10px;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

main img:hover {
    transform:scale(1.05);
}
main img:nth-child(even) {
    box-shadow: 0px 0px 10px rgba(255, 192, 203, 1);
}

aside {
    float: right;
    width: 20%;
    padding: 20px;
    background-color: #f1f1f1;
    overflow: auto;
}

code {
    background-color: #f1f1f1;
    padding: 5px;
    display: block;
}

blockquote {
    font-style: italic;
}

sub {
    font-size: 75%;
}

sup {
    font-size: 75%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

aside {
    min-width:300px;
}

aside p {
    text-transform: uppercase;
    text-decoration: line-through;
}


.table-generator {
    max-width: 600px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input, select, button {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    cursor: pointer;
}

.generated-table {
    border-collapse: collapse;
    width: 100%;
}

.generated-table th, .generated-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
